!!!
%html
  %head
    %title= @page || GitWiki::wiki_name
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/wiki.css'}
  %body
    %h1#title<
      %a.home{:href => '/'}>= GitWiki::wiki_name
      - if @page and @page.url != '/'
        \:
        = @page.tree_link
    %ul#actions
      - if @page
        %li
          %a.edit{:href => @page.edit_url}> edit
      %li
        %a.list{:href => '/pages/'}> all
    #content= yield
